In [ ]:
import pandas as pd

In [17]:
courses = pd.read_excel('./timetable-generator/tables/Courses.xlsx')
curriculum = pd.read_excel('./timetable-generator/tables/Curriculum.xlsx')
instructors = pd.read_excel('./timetable-generator/tables/Instructors.xlsx')
timeslots = pd.read_excel('./timetable-generator/tables/TimeSlots.xlsx')
sections = pd.read_excel('./timetable-generator/tables/Sections.xlsx')
rooms = pd.read_excel('./timetable-generator/tables/Rooms.xlsx')

In [16]:
courses

   course_id                           course_name                  type
0    LRA 401                     Japanese Language              Tutorial
1    LRA 104                 Music and Technoology               Lecture
2    CSC 111          Fundamentals of Programming            Lecture,Lab
3    PHY 113                           Physics (1)           Lecture,Lab
4    ECE 111                 Digital Logic Design   Lecture,Lab,Tutorial
5    MTH 111                       Mathematics (1)      Lecture,Tutorial
6    LRA 101                     Japanese Culture                Lecture
7    MTH 212            Probability and Statistics      Lecture,Tutorial
8    CSC 211                  Software Engineering           Lecture,Lab
9    ACM 215       Ordinary Differential Equations      Lecture,Tutorial
10   LRA 403                 Japanese Language (3)              Tutorial
11   CNC 111          Networks and Web Programming           Lecture,Lab
12   CSE 214                Computer Organization   Lecture,Lab,Tutorial
13   LRA 306  Natural Resources and Sustainability               Lecture
14   CSC 114        Algorithms Analysis and Design           Lecture,Lab
15   ECE 324             Digital Signal Processing           Lecture,Lab
16   CSC 317   Computer Graphics and Visualization           Lecture,Lab
17   AID 312                   Intelligent Systems           Lecture,Lab
18   AID 311           Mathematics of Data Science  Lecture,Lab,Tutorial
19   CNC 311                    Computer Networks            Lecture,Lab
20   CNC 314                     Database Systems            Lecture,Lab
21   AID 321                      Machine Learning  Lecture,Lab,Tutorial
22   AID 417                 Advanced Data Mining   Lecture,Lab,Tutorial
23   AID 411    BIG Data Analytics & Visualization  Lecture,Lab,Tutorial
24   AID 428                      New Trends in AI  Lecture,Lab,Tutorial
25   AID 414                  Graduation Project I               Project
26   AID 427            New Trends in Data Science  Lecture,Lab,Tutorial
27   AID 413                         Data Security  Lecture,Lab,Tutorial
28   LRA 105                     Theater and Drama               Lecture

In [18]:
instructors

,instructor_id,name,role,qualifications
0,1,Abo Rehab,Teaching Assistant,"MTH 111,MTH 212,ACM 215"
1,2,Adel Fathy,Doctor,PHY 113
2,3,Adel Shakal,Teaching Assistant,"MTH 111,PHY 113,MTH 212"
3,4,Ahmed Abdel-Malk,Doctor,"ECE 324,ACM 215"
4,5,Ahmed Allam,Professor,ECE 111
5,6,Ahmed Anter,Doctor,"CNC 111,AID 311"
6,7,Ahmed Arafa,Doctor,"CSC 211,AID 413,AID 427"
7,8,Ahmed Bayumi,Doctor,"AID 312,AID 428"
8,9,Ahmed Zakaria,Professor,"MTH 212,MTH 111,ACM 215"
9,10,Ayan w Mayet,Teaching Assistant,"ECE 324,ACM 215"
10,11,Ayman Arafa,Doctor,"MTH 111,ACM 215,MTH 212"
11,12,Eman Refaat,Doctor,"LRA 401,LRA 403"
12,13,Fatma Elsayed,Teaching Assistant,"CNC 311,AID 417"
13,14,Hamada El Safroot,Doctor,LRA 104
14,15,Hataba,Doctor,CSC 317
15,16,Heba,Teaching Assistant,CNC 111
16,17,Heba Abdelkader,Teaching Assistant,CSE 214
17,18,LBA,Professor,LRA 306
18,19,Marghany Hassan,Professor,"CSC 114,AID 411,AID 321"
19,20,Mariam Ismael,Teaching Assistant,CSC 111
20,21,Mariem Nagy,Teaching Assistant,"CSC 111,AID 413"
21,22,Menna Hamdy,Teaching Assistant,CNC 111
22,23,Menna magdy,Teaching Assistant,"CSC 211,CSC 317"
23,24,Miyazawa,Doctor,"LRA 401,LRA 403"
24,25,Mofareq El Qotren,Teaching Assistant,"PHY 113,ECE 111,ACM 215"
25,26,Mohamed Issa,Doctor,"CNC 314,AID 417"
26,27,Mostafa Soliman,Professor,CSE 214
27,28,Mowahed El Qotren,Teaching Assistant,"ECE 111,PHY 113,ACM 215"
28,29,Nada Ahmed,Teaching Assistant,"CSC 211,CSC 317"
29,30,Nada Essam,Teaching Assistant,"CSC 111,AID 411"
30,31,Nada Hamdy,Teaching Assistant,"CNC 111,CNC 311"
31,32,Nour Akram,Teaching Assistant,CSC 111
32,33,Nourhan Waleed,Teaching Assistant,"AID 312,CNC 314"
33,34,Omnia Shehata,Teaching Assistant,"CNC 111,AID 428,AID 321"
34,35,Omnya Ramadan,Teaching Assistant,CSE 214
35,36,Reda Elbasiony,Doctor,"CSC 111,CNC 111"
36,37,Rika,Doctor,"LRA 401,LRA 403"
37,38,Salma Alashry,Teaching Assistant,"CSC 114,CNC 314,AID 321"
38,39,Salma Waleed,Teaching Assistant,"AID 312,AID 311"
39,40,Sameh Sherif,Doctor,ECE 111
40,41,Samir Ahmed,Professor,CNC 311
41,42,Sato,Doctor,"LRA 401,LRA 403"
42,43,Sherine Elmotasem,Doctor,LRA 101
43,44,Zeina Ahmed,Teaching Assistant,"AID 428,AID 427,AID 321"
44,45,Zeina Shreif,Teaching Assistant,AID 427
45,46,Shamshoon,Doctor,LRA 105

In [19]:
rooms

              room_id      type  capacity
0           B07 F1.01  Tutorial        15
1           B07 F1.02  Tutorial        15
2           B07 F1.04       Lab        15
3           B07 F1.20  Tutorial        15
4           B07 F1.21  Tutorial        15
5           B07 F1.22  Tutorial        15
6           B07 F1.23  Tutorial        15
7           B07 F1.24   Lecture        15
8             B07 G01   Lecture        45
9             B07 G12       Lab        15
10            B17.G17       Lab        45
11            B17-G01       Lab        30
12            B17-G16       Lab        15
13            B17-G16       Lab        15
14            B17-G22       Lab        30
15          B18 F1.08  Tutorial        15
16           B18 F1.1   Lecture        45
17          B18 F1.10   Lecture        45
18          B18 F1.12  Tutorial        15
19          B18 F1.13  Tutorial        15
20          B18 F1.19  Tutorial        15
21           B18 F1.2  Tutorial        15
22          B18 F1.20  Tutorial        15
23           B18 F1.5   Lecture        45
24            B18 G02  Tutorial        15
25            B18 G04  Tutorial        15
26            B18 G08   Lecture        45
27            B18 G09   Lecture        45
28            B18 G11  Tutorial        15
29            B18 G12  Tutorial        15
30            B18 G13   Lecture        45
31            B18-G01       Lab        15
32            B18-G05       Lab        15
33            B18-G14       Lab        15
34            B18-G17       Lab        15
35            B18-G20   Lecture        45
36        COE PHY LAB       Lab        45
37            G17-G01       Lab        45
38        Theater B07   Lecture        45
39        Theater B08   Lecture        45
40        Theater B09   Lecture        45
41        Theater B10   Lecture        45
42  Theater B25 F1.19   Lecture        45

In [20]:
sections

    section_id  year  student_count
0            1     1             15
1            2     1             15
2            3     1             15
3            4     1             15
4            5     1             15
5            6     1             15
6            7     1             15
7            8     1             15
8            9     1             15
9            1     2             15
10           2     2             15
11           3     2             15
12           4     2             15
13           5     2             15
14           6     2             15
15           7     2             15
16           8     2             15
17           9     2             15
18           1     3             15
19           2     3             15
20           3     3             15
21           4     3             15
22           5     3             15
23           6     3             15
24           7     3             15
25           8     3             15
26           9     3             15
27           1     4             15
28           2     4             15
29           3     4             15
30           4     4             15
31           5     4             15
32           6     4             15
33           7     4             15
34           8     4             15
35           9     4             15

In [21]:
timeslots

       time_slot_id        day start_time  end_time
0    sun_9:00_10:30     Sunday   09:00:00  10:30:00
1   sun_10:45_12:15     Sunday   10:45:00  12:15:00
2    sun_12:30_2:00     Sunday   12:30:00  02:00:00
3     sun_2:15_3:45     Sunday   02:15:00  03:45:00
4    mon_9:00_10:30     Monday   09:00:00  10:30:00
5   mon_10:45_12:15     Monday   10:45:00  12:15:00
6    mon_12:30_2:00     Monday   12:30:00  02:00:00
7     mon_2:15_3:45     Monday   02:15:00  03:45:00
8    tue_9:00_10:30    Tuesday   09:00:00  10:30:00
9   tue_10:45_12:15    Tuesday   10:45:00  12:15:00
10   tue_12:30_2:00    Tuesday   12:30:00  02:00:00
11    tue_2:15_3:45    Tuesday   02:15:00  03:45:00
12   wed_9:00_10:30  Wednesday   09:00:00  10:30:00
13  wed_10:45_12:15  Wednesday   10:45:00  12:15:00
14   wed_12:30_2:00  Wednesday   12:30:00  02:00:00
15    wed_2:15_3:45  Wednesday   02:15:00  03:45:00
16   thu_9:00_10:30   Thursday   09:00:00  10:30:00
17  thu_10:45_12:15   Thursday   10:45:00  12:15:00
18   thu_12:30_2:00   Thursday   12:30:00  02:00:00
19    thu_2:15_3:45   Thursday   02:15:00  03:45:00

In [22]:
curriculum

    year course_id
0      1   CSC 111
1      1   ECE 111
2      1   LRA 101
3      1   LRA 104
4      1   LRA 105
5      1   LRA 401
6      1   MTH 111
7      1   PHY 113
8      2   ACM 215
9      2   CNC 111
10     2   CSC 114
11     2   CSC 211
12     2   CSE 214
13     2   LRA 306
14     2   LRA 403
15     2   MTH 212
16     3   AID 311
17     3   AID 312
18     3   CNC 311
19     3   CNC 314
20     3   CSC 317
21     3   ECE 324
22     4  AID 321
23     4   AID 411
24     4   AID 413
25     4   AID 414
26     4   AID 417
27     4   AID 427
28     4   AID 428